//2_640px
@media screen and (min-width: 321px) and (max-width: 640px)  {
  html {
    font-size: 24px;
  }
  .title {
    background-image: url("../img/header-fon_640.png");
  }
  .product-f {
    background-image: url("../img/product-f_640.png");
    background-position: 0 -233px;
  }
  .product-s {
    background-image: url("../img/product-s_640.png");
    //background-position: 0 -165px;
  }
  .product-t {
    background-image: url("../img/product-t_640.png");
    //background-position: 0 -27px;
  }
}
//mixin
@mixin for980-1200 {
  .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    h2 {
      display: none;
    }
    .button {
      display: none;
    }
    .hide {
      display: inline-block;
    }

    .dropped {
      position: initial;
      background-color: inherit;
      display: flex;
      flex-wrap: nowrap;
      margin: 0 0 0 0.82rem;
      li {
        box-shadow: none;
        width: 16%;
        a {
          display: inline-block;

          font-family: "﻿Lato", sans-serif;
          font-size: 0.4rem;
          color: white;
          text-transform: uppercase;
          text-align: left;
          padding: 0 0 0 0;
          }
      }

    }
  }
  .products {

    div {
      width: 33.3%;
    }
    p {
      font-size: 1rem;
    }
    #pizza, #salads, #desserts {
      padding: 4.1rem 0;
    }
    .arrow {
      display: none;
    }
  }
  .logo {
    display: inline-block;
    float: right;
    margin-top: -1.25rem;
    //position: absolute;
    //left: 846px;
    //top: 1px;
  }
  .menu {
    h1 {
      font-size: 1rem;
    }
    h2 {
      font-size: 0.6rem;
    }
    .logo {
      margin-top: -2.5rem;
    }
  }
  .menu-title {
    p {
      font-size: 1rem;
    }
  }
  .menu-subtitle{
    p {
      font-size: 0.75rem;
    }
  }
  .menu-item-title {
    p {
      font-size: 0.7rem;
    }
    span {
      font-size: 0.7rem;
    }
  }
  .menu-item-description {
    font-size: 0.5rem;
  }
  .menu-box {
    display: flex;
    flex-wrap: nowrap;
  }
  #wine, #pizzahat {
    height: 1.1rem;
  }
  .menu-subtitle {
    #tea, #beer  {
      height: 0.75rem;
    }
  }
  .menu-list {
    margin-left: 0.45rem;
    margin-right: 0.45rem;
  }
  .menu-title-snd {
    margin-top: 10px;
  }
  footer {
    img  {
      display: inline-block;
    }
    p {
      display: inline-block;
      float: right;
      font-size: 0.5rem;
      margin-top: 1rem;
      margin-right: 0.8rem;
    }
  }
}
//2_980px
@media screen and (min-width: 641px) and (max-width: 979px)  {
  html {
    font-size: 36px;
  }
  .title {
    background-image: url("../img/header-fon_980.png");
  }
  .product-f {
    background-image: url("../img/product-f_980.png");
    background-position: 0 0;
  }
  .product-s {
    background-image: url("../img/product-s_980.png");
    background-position: 0 0;
  }
  .product-t {
    background-image: url("../img/product-t_980.png");
    background-position: 0 0;
  }
  @include for980-1200;

}
//2_1200px
@media screen and (min-width: 981px)  {
  html {
    font-size: 42px;
    max-width: 1200px;
  }
  .title {
    background-image: url("../img/header-fon_1200.png");
  }
  .product-f {
    background-image: url("../img/product-f_1200.png");
    background-position: 0 0;
  }
  .product-s {
    background-image: url("../img/product-s_1200.png");
    background-position: 0 0;
  }
  .product-t {
    background-image: url("../img/product-t_1200.png");
    background-position: 0 0;
  }
  @include for980-1200
  .navbar {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    }
  }