@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');

html {
  font-size: 12px;
}

.navbar {
  position: relative;
  background-color: #373c3f;
  //height: 37px;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 0;
  h2 {
    font-size: 1rem;
    font-weight:500;
    color: rgba(255, 255, 255, 255);
    margin-left: 1.5rem;
    vertical-align: middle;

  }
  .button {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 3.42rem;
    height: 3.08rem;
    background-color: #202529;
  }
}
.title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background-image: url("../img/header-fon_320.png");
  //height: 174px;
  padding-bottom: 7.95rem;
  margin-bottom: 2px;
  p {
    font-size: 1.33rem;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    letter-spacing: 0.15px;
    padding-top: 1.5rem;
    padding-left: 1.75rem;
    //width: 167px;
  }
  p:nth-child(2) {
    padding-top: 0.583rem;
    padding-bottom: 0.67rem;
  }
  a {
    text-decoration: none;
    font-size: 1.17rem;
    letter-spacing: 0.15px;
    color: rgba(166, 214, 224, 255);
    text-align: left;
    padding-left: 1.75rem;
    //margin-bottom: 2rem;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  div, a {
    //background-position: bottom right;
    width: calc(100% - 5.92rem);
    margin-top: 2px;
    //padding-left: 5px;
  }
  //div:first-of-type {
  //  margin-top: 5px;
  //}
  p {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
    padding: 2.1rem 0 2.333rem;
    //transform: translateX(5%);
    margin-right: -0.42rem;
  }
  #pizza {
    padding: 2.1rem 0 2.5rem;
  }
  #salads {
    padding-top: 2.25rem;
    padding-bottom: 2.2rem;
    margin-right: -2rem;
  }
  #desserts {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    margin-right: 0.33rem;
  }
  .arrow {
    position: relative;
    background-color: #acd8ad;
    width: 5.92rem;
    box-sizing: border-box;
  }
  .arrow::after {
    content: ">";
    font-family: 'Lato', sans-serif;
    font-size: 1.67rem;
    //font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -60%) scaleY(1.3);
  }
}
.product-f {
  background-image: url("../img/product-f_320.png");
  background-position: -21px -233px;
}
.product-s {
  background-image: url("../img/product-s_320.png");
  background-position: 0 -165px;
}
.product-t {
  background-image: url("../img/product-t_320.png");
  background-position: 0 -27px;
}
.menu {
  position: relative;
  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.67rem;
    color: rgba(63, 64, 67, 255);
    text-transform: uppercase;
    text-align: left;
    margin-top: 1.83rem;
    margin-left: 0.67rem;
  }
  h2 {
    font-size: 0.83rem;
    font-family: 'Lato', sans-serif;
    //letter-spacing: 0.4px;
    color: rgba(203, 204, 206, 255);
    text-align: left;
    margin-top: 0.33rem;
    margin-left: 0.83rem;
  }
}

.menu-title {
  margin-top: 10px;
  background-color: #3f4043;
  p{
    font-family: 'Lato', sans-serif;
    font-size: 1.67rem;
    color: rgba(172, 216, 173, 255);
    text-align: left;
    text-transform: uppercase;
    padding: 0.75rem 0 0.67rem 1.5rem;
  }
}
.menu-title-snd {
  margin-top: 33px;
  background-color: #acd8ad;
  p{
    color: rgba(255, 255, 255, 255);
  }
}
.menu-list {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
}
.menu-subtitle {
  margin-top: 1.45rem;
  //padding-top: 10px;
  //margin-bottom: 17px;

  p {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: rgba(63, 64, 67, 255);
    text-align: left;
  }
  img {
    display: inline-block;
    height: 2rem;
    transform: translateY(-20%);
    float: right;
  }
  #wine {
    transform: translateY(-10%) translateX(-40%);
  }
  #tea {
    transform: translateY(-20%) translateX(10%);
    height: 1.75rem;
  }
  #beer {
    height: 1.75rem;
    transform: translateY(-20%) translateX(-15%);
  }
  //img:nth-of-type(2), img:nth-of-type(3) {
  //  height: 21px;
  //}
}
.menu-item-box {
  margin-top: 1.7rem;
  margin-bottom: 1.75rem;
}
.menu-item-title {
  margin-top: 1rem;
  font-family: 'Lato', sans-serif;

  p {
    font-size: 1.1rem;
    color: rgba(63, 64, 67, 255);
    display: inline-block;
  }
  span {
    float: right;
    font-size: 1.1rem;
    color: rgba(63, 64, 67, 255);
    font-weight: bold;
    //margin-top: 2px;
  }
}
.menu-item-description {
  font-family: 'Lato', sans-serif;
  font-size: 0.77rem;
  color: rgba(63, 64, 67, 255);
  margin-top: 0.583rem;
  //margin-bottom: 7px;
}
footer {
  margin-top: 4rem;
  background-color: #acd8ad;
  padding-top: 1rem;
  padding-bottom: 0.583rem;
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-bottom: 0.5rem;
    padding-left: 0.33rem;
  }
  img {
    display: none;
    padding-left: 0.75rem;
  }
}

.dropped {
  position: absolute;
  right: 1px;
  top: 3.1rem;
  background-color: white;
  li {
    box-shadow: 1px 1px 0 0 rgba(0,0,0,0.2);
    a {
      display: inline-block;
      width: 100%;
      font-family: "﻿Lato", sans-serif;
      text-decoration: none;
      font-size: 1rem;
      color: rgba(68, 68, 68, 255);
      text-align: left;
      padding: 0.833rem 8rem 0.833rem 1rem;
      }
  }

}
.open {
  position: absolute;
  top: 48%;
  left: 33%;
  width: 37%;
  height: 0.167rem;
  background-color: white;
  &:after {
    content: "";
    position: absolute;
    top: 0.333rem;
    //left: 25%;
    width: 100%;
    height: 0.167rem;
    background-color: white;
  }
  &:before {
    content: "";
    position: absolute;
    top: -0.333rem;
    //left: 25%;
    width: 100%;
    height: 0.167rem;
    background-color: white;
  }
}

.close {
  position: relative;
  //right: 50%;
  //top: 50%;
  width: 100%;
  height: 100%;
}
.close:before, .close:after {
  position: absolute;
  left: 50%;
  top: 25%;
  content: ' ';
  height: 50%;
  width: 0.167rem;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.hide {
  display: none;
}
.logo {

  display: none;
}
//@import "media";