.up{
  width: 200px;
  height: 100px;
  background-color: red;
  border: 2px solid red;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  transform-origin:center bottom ;
  animation:up-move 1s linear infinite alternate-reverse;
}
.circle{
  position: absolute;
  top: 200px;
  left: 200px;
  transform: rotate(0);
 justify-content: center;
 align-items: center;
 animation: move 10s linear infinite;
  display: inline-block;
}
.up::after{
  content:"" ;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  border: black solid 2px;
}
.down{
  width: 200px;
  height: 100px;
  background-color: red;
  border: 2px solid red;
  border-radius: 0 0 50% 50%  / 0 0 100% 100% ;
  transform: rotate(45deg);
  transform-origin:center top ;
  animation:down-move 1s linear infinite alternate-reverse;}

/*@keyframes move {*/
/*  0% {margin: 0 0;*/
/*  /transform: rotate(0);/*/
/*  }*/
/*  25% {margin: 0  0 0 300px;*/
/*  /transform: rotate(0deg);/*/
/*  }*/
/*  26% {*/
/*  /motion-rotate(90deg);/*/
/*  }*/
/*  50% {margin: 300px  0 0 300px;*/
/*transform: rotate(180deg);}*/
/*75% {margin: 300px 0 0 0;*/
/*transform: rotate(270deg);}*/
/*100% {*/
/*  margin: 0 0;*/
/*}*/
/*}*/

@keyframes up-move {
  0%
  {transform: rotate(0);}
  100%
  {transform: rotate(-20deg);}
}

@keyframes down-move {
  0%
  {transform: rotate(0);}
  100%
  {transform: rotate(20deg);}
}
