body {
    width: 1366px;
    margin: 0 auto;
    font-family: ﻿Courier, Verdana, sans-serif;
    color: white;
    font-size: 18px;
}
.container {

    padding-top: 40px;
    padding-bottom: 20px;
    background-image: linear-gradient(rgba(0,0,0,.73), rgba(0,0,0,.73)), url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
}
header {
    margin: 0 148px 45px 154px;
}
.logo {

    text-decoration: none;
    color: white;
    font-weight: bold;
    /*text-transform: uppercase; - текст вже написано великими літерами*/
    font-family: Verdana, Courier, sans-serif;
    filter: brightness(0%) invert(1); /*роблю лого білим*/
}
.logo > div {
    display: inline-block;
    margin-left: 5px;
    width: 100px;
}
.logo:hover {
    color: #f26522;
    filter: none;
}
.title {
    float: left;
}
.logo > div :nth-child(1) {font-size: 29px;}

.contact {
    float: right;
    text-align: right;
}
/*основна частина*/
main {
    margin: 0 148px 57px 154px;
}
.img-box {
    float: left;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-right: 64px;
    position: relative;
    z-index: 0;
    }
main :nth-child(3n) {
    margin-right: 0;
}
.img-box > img {
    padding: 3px 2px 2px 2px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

    /*зробив градієнтну заливку під картинку*/
}
.img-box > p {
    margin-top: 20px;
  }
main :nth-child(n+4) {
    margin-top: 50px;
    /*зробив відступи для картинок другого ряду*/
}
.hidden {
    position: absolute;
    height: 200px;
    width: 100%;
    top: 5px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 68.5%, #f26522 68.5%, #f26522);
    opacity: 0;
    font-size: 10px;
    text-align: left;
    }
.hidden-left {
    display: inline-block;
    margin-left: 21px;
    margin-top: 153px;
}
.hidden-money {
    font-size: 20px;
    margin-top: 7px;
    }
.hidden-details {
    font-size: 14px;
    display: inline-block;
    margin-left: 120px; /*зменшив відступ, щоб нормально влізла стрілочка*/
}
.hidden-details:after {
    content: "\003E";
    margin-left: 15px;
}
.hidden:hover {
    opacity: 1;
    }
.img-box > p:hover {
    color: #f26522;
}

/*просто футер*/
footer {
    text-align: center;
    font-size: 12px;
}

/*завджи останній*/
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}