body {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Verdana", sans-serif;
}
.header {
    padding-left: 81px;
    padding-right: 75px;
    height: 56px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    }
.logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    /*font-family: "Verdana", sans-serif;*/
    color: #ffffff;
    float: left;
    margin-top: 20px;

}
.logo:hover {color: #3cb878;}
.navbar {
    display: inline-block;
    margin-top: 18px;
    float: right;
}
.calendar, .forum, .journey {
    width: 30px;
    height: 20px;
    display: inline-block;
    background: url("../img/sprites.png") no-repeat;

    margin-right: 28px;
}
.calendar {
    background-position: -15px -235px;
}
.calendar:hover {
    background-position: -15px -196px;
}
.forum {
    background-position: -20px -40px;
}
.forum:hover {
    background-position: -20px -0px;
}
.journey {
    background-position: -20px -156px;
    }
.journey:hover {
    background-position: -20px -116px;
}
.welcome {
    font-size: 14px;
    color: #ffffff;
    /*font-family: "Courier", "Verdana", sans-serif;*/
    padding-left: 24px;
    border-left: 1px solid #312f2f;
    vertical-align: middle;
}
.welcome a {
    text-decoration: none;
    color: #3cb878;
}
.welcome a:hover {
    text-decoration: underline;
}
/*форма*/
main {
    height: calc(100vh - 56px);
    position: relative;
}
.form {
    width: 444px;
    height: 584px;
    position: absolute;
    top: 50%;
    margin-top: -292px;
    left: 50%;
    margin-left: -222px;
    padding-left: 62px;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    /*font-family: "﻿Courier", "Verdana", sans-serif;*/
    }
.title span{
    font-size: 20px;
    margin-top: 29px;
    float: left;
}
.title span:before {
    content: url("../img/shape.png");
    margin-right: 42px;
    margin-left: -62px;
    }
.title a {
    float: right;
    margin-top: 33px;
    margin-right: 59px;
    text-decoration: none;
    color: #3cb878;
    font-size: 14px;
}
.title a:hover {
    text-decoration: underline;
}

.buttons {
    margin-top: 15px;
        }

.button-facebook, .button-google {
    display: inline-block;
    width: 157px;
    height: 46px;
}
.button-facebook {
    background-color: #305db8;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
}
.button-facebook:hover {
    background-color: #264b96;
}
.facebook-icon {
    display: inline-block;
    width: 25px;
    height: 30px;
    background: url("../img/sprites.png") no-repeat;
    background-position: -20px -262px;
    margin-left: 20px;
    vertical-align: bottom;
}
.button-facebook span {
     border-left: 1px solid #2b54a5;
     padding-left: 12px;
 }
.button-google {
    background-color: #df4a32;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    }
.button-google:hover {
    background-color: #c3412c;
}
.google-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    /*margin-top: 5px;*/
    background: url("../img/sprites.png") no-repeat;
    background-position: -20px -66px;
    margin-left: 20px;
    vertical-align: bottom;
}
.button-google span {
    border-left: 1px solid #c8422d;
    padding-left: 17px;
}
.line {
    display: inline-block;
    color: #848484;
    margin-top: 33px;
}
.line hr {
    display: inline-block;
    width: 135px;
    vertical-align: middle;
}
.line span {
    margin: 0 10px;
    font-size: 14px;
    /*font-family: "Courier", "verdana", sans-serif;*/
}
.form-area {
    margin-top: 18px;
}
.form-input {
    width: 322px;
    margin-top: 9px;
    border: 1px solid #eaeaea;
    height: 46px;
    font-size: 14px;
    /*font-family: "Courier", "Verdana", sans-serif;*/
    color: #5c5c5c;
    padding-left: 19px;
    margin-right: 15px;
    box-sizing: border-box;
}
.form-input::placeholder {
    color: #cfcfcf;
}
.form-input:focus {
    outline: 0;
    box-shadow: 0 5px 5px 0 rgba(115,115,115,0.5);
}
.checkbox-label {
    display: inline-block;
    color: #434343;
    font-size: 14px;
    }
.checkbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: -3px; /*поправка на різницю висот чекбоксу і тексту*/
    margin-top: 19px;
    }
.checkbox-label span {
    color: #3cb878;
    }
.checkbox-label span:hover {
    text-decoration: underline;
}
.make-acc {
    width: 322px;
    height: 46px;
    margin-top: 25px ;
    background-color: #3cb878;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    }
.make-acc:hover {
    background-color: #329a65;
}
.make-acc-text {
    text-decoration: none;
    color: #ffffff;
    margin-top: 14px;
    font-size: 16px;
    /*font-family: "Courier", "Verdana", sans-serif;*/
}

/*завжди останній*/
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}