@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap");
html {
  font-size: 12px;
}

.navbar {
  position: relative;
  background-color: #373c3f;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 0;
}

.navbar h2 {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin-left: 1.5rem;
  vertical-align: middle;
}

.navbar .button {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 3.42rem;
  height: 3.08rem;
  background-color: #202529;
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background-image: url("../img/header-fon_320.png");
  padding-bottom: 7.95rem;
  margin-bottom: 2px;
}

.title p {
  font-size: 1.33rem;
  color: white;
  text-align: left;
  letter-spacing: 0.15px;
  padding-top: 1.5rem;
  padding-left: 1.75rem;
}

.title p:nth-child(2) {
  padding-top: 0.583rem;
  padding-bottom: 0.67rem;
}

.title a {
  text-decoration: none;
  font-size: 1.17rem;
  letter-spacing: 0.15px;
  color: #a6d6e0;
  text-align: left;
  padding-left: 1.75rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.products div, .products a {
  width: calc(100% - 5.92rem);
  margin-top: 2px;
}

.products p {
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  padding: 2.1rem 0 2.333rem;
  margin-right: -0.42rem;
}

.products #pizza {
  padding: 2.1rem 0 2.5rem;
}

.products #salads {
  padding-top: 2.25rem;
  padding-bottom: 2.2rem;
  margin-right: -2rem;
}

.products #desserts {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  margin-right: 0.33rem;
}

.products .arrow {
  position: relative;
  background-color: #acd8ad;
  width: 5.92rem;
  box-sizing: border-box;
}

.products .arrow::after {
  content: ">";
  font-family: 'Lato', sans-serif;
  font-size: 1.67rem;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -60%) scaleY(1.3);
}

.product-f {
  background-image: url("../img/product-f_320.png");
  background-position: -21px -233px;
}

.product-s {
  background-image: url("../img/product-s_320.png");
  background-position: 0 -165px;
}

.product-t {
  background-image: url("../img/product-t_320.png");
  background-position: 0 -27px;
}

.menu {
  position: relative;
}

.menu h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.67rem;
  color: #3f4043;
  text-transform: uppercase;
  text-align: left;
  margin-top: 1.83rem;
  margin-left: 0.67rem;
}

.menu h2 {
  font-size: 0.83rem;
  font-family: 'Lato', sans-serif;
  color: #cbccce;
  text-align: left;
  margin-top: 0.33rem;
  margin-left: 0.83rem;
}

.menu-title {
  margin-top: 10px;
  background-color: #3f4043;
}

.menu-title p {
  font-family: 'Lato', sans-serif;
  font-size: 1.67rem;
  color: #acd8ad;
  text-align: left;
  text-transform: uppercase;
  padding: 0.75rem 0 0.67rem 1.5rem;
}

.menu-title-snd {
  margin-top: 33px;
  background-color: #acd8ad;
}

.menu-title-snd p {
  color: white;
}

.menu-list {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
}

.menu-subtitle {
  margin-top: 1.45rem;
}

.menu-subtitle p {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #3f4043;
  text-align: left;
}

.menu-subtitle img {
  display: inline-block;
  height: 2rem;
  transform: translateY(-20%);
  float: right;
}

.menu-subtitle #wine {
  transform: translateY(-10%) translateX(-40%);
}

.menu-subtitle #tea {
  transform: translateY(-20%) translateX(10%);
  height: 1.75rem;
}

.menu-subtitle #beer {
  height: 1.75rem;
  transform: translateY(-20%) translateX(-15%);
}

.menu-item-box {
  margin-top: 1.7rem;
  margin-bottom: 1.75rem;
}

.menu-item-title {
  margin-top: 1rem;
  font-family: 'Lato', sans-serif;
}

.menu-item-title p {
  font-size: 1.1rem;
  color: #3f4043;
  display: inline-block;
}

.menu-item-title span {
  float: right;
  font-size: 1.1rem;
  color: #3f4043;
  font-weight: bold;
}

.menu-item-description {
  font-family: 'Lato', sans-serif;
  font-size: 0.77rem;
  color: #3f4043;
  margin-top: 0.583rem;
}

footer {
  margin-top: 4rem;
  background-color: #acd8ad;
  padding-top: 1rem;
  padding-bottom: 0.583rem;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-left: 0.33rem;
}

footer img {
  display: none;
  padding-left: 0.75rem;
}

.dropped {
  position: absolute;
  right: 1px;
  top: 3.1rem;
  background-color: white;
}

.dropped li {
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
}

.dropped li a {
  display: inline-block;
  width: 100%;
  font-family: "﻿Lato", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  color: #444444;
  text-align: left;
  padding: 0.833rem 8rem 0.833rem 1rem;
}

.open {
  position: absolute;
  top: 48%;
  left: 33%;
  width: 37%;
  height: 0.167rem;
  background-color: white;
}

.open:after {
  content: "";
  position: absolute;
  top: 0.333rem;
  width: 100%;
  height: 0.167rem;
  background-color: white;
}

.open:before {
  content: "";
  position: absolute;
  top: -0.333rem;
  width: 100%;
  height: 0.167rem;
  background-color: white;
}

.close {
  position: relative;
  width: 100%;
  height: 100%;
}

.close:before, .close:after {
  position: absolute;
  left: 50%;
  top: 25%;
  content: ' ';
  height: 50%;
  width: 0.167rem;
  background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.hide {
  display: none;
}

.logo {
  display: none;
}
