@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    letter-spacing:.25em;
    font-weight: bold;
    background-color: #0c1927;
   }
.text {
    position: absolute;
    width: 55%;
    margin: 0 22.5% 0 22.5%;
    height: 100%;
    font-size: 37px;
    text-align: justify;
    color: #feda4a;
    transform: perspective(200px) rotateX(27deg);
}
.text div {
    position: absolute;
    animation: moving 41s linear infinite;
}
h1, h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
p {
    margin-bottom: 30px;
    line-height: 1.3em;
}

@keyframes moving {
    0% {
        top: 96%;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: -150%;
        opacity: 0;
    }
}

