* { /*прибираю відступи браузера*/
    margin: 0;
    padding: 0;
    line-height: 1;
}
body{ /*"стандартний" шрифт*/
    font-family: sans-serif;
    /*фіксую мінімальний розмір, так не ламає верхнє меню та заголовок нижче,якщо ширина екрана маленька*/
    min-width: 800px;
    /*переношу сюди цю строчку, оскільки майже всі елементи розташовані в центрі*/
    text-align: center;
}
.top-nav {
    padding-top: 35px;
    padding-bottom: 35px;
   }
.top-nav-button {
    margin-right: 70px;
    text-decoration: none;
    color: #16a085;
    font-size: 18px;
    text-transform: uppercase;
}
.top-img {
    width: 100%;
    height: auto;
}
.main {
    color: #373737;
    background-color: #f5f6f7;
}
.main-head {
    font-size: 22px;
    text-transform: uppercase;
    padding: 60px 0 35px 0;
}
.main-text {
    font-size: 16px;
    padding-left: 110px;
    padding-right: 110px;
}
.main-button {
    padding: 20px 0 20px 0;
    width: 192px;
    margin-top: 40px;
    /*ставлю такий відступ, щоб заливка відповідала картинці*/
    margin-bottom: 95px;
    background-color: #16a085;
}
.main-button-link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
}
.copyright {
    text-align: right;
    padding: 40px 110px 45px 0;
    font-size: 16px;
    color: #373737;
}
