.container {
    display: flex;
    flex-wrap: nowrap;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
}
.card-box {
    width: 150px;
    background-color: lightsalmon;
    margin: 5px;
    border-radius: 7%;
}
h4 {
    color: cyan;
}
.add-card-list {
    height: 55px;
    margin-top: 5px;
    text-align: center;
}
.add-card-button {
    margin: 4px auto;
}
.card-item {
    background-color: white;
    width: 90%;
    margin: 4px auto;
    border: 2px magenta solid;
}