body {
    width: 1280px;
    font-family: sans-serif;
    margin: 0 auto;

}
.logo-box {
    text-align: left;
    margin-top: 60px;
}
.logo {
    text-decoration: none;
    color: black;
    font-size: 80px;
}
.text-blue {
    color: #4bcaff;
}
.top-navbar {
    margin-top: 45px;
    padding: 26px 0 21px 0;
    background-color: #35444f;
    font-size: 24px;
    text-align: center;
}
.top-navbar-link {
    text-decoration: none;
    color: white;
    padding: 0 42px 0 42px;
    }
.top-navbar-link:hover {
    background-color: #222f3a;
    padding: 25px 42px 20px 42px;
}
.last-item {
    margin-right: 0; /*прибираю відступ в останній кнопці меню*/
    }
.main {
    margin-top: 50px;
    }
.left-navbar {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #35444f;
    /*рамка чомусь виглядає чорною*/
    width: 344px;
    padding-top: 0;
    }
.left-navbar-link {
    text-decoration: none;
    display: block;
    padding: 22px 44px 22px 44px;
    color: #495863;
    font-size: 30px;
}
.left-navbar-link:hover {
    color: black;
    background-color: #dbdbdb;
    padding-left: 69px;
}


.right-block {
    display: inline-block;
    margin-left: 42px;
    }
.right-image-block {
    border: 1px solid #35444f;
    width: 885px;
    height: 529px;
    position: relative;
        /*дозволяю внутрішньому елементу зайняти відносну позицію*/
    margin-bottom: 20px;
    }
.main-image {
    position: absolute; /*вказую зайняти конкретну позицію*/
    top: 50%; /*ставлю в центр по вертикалі*/
    left: 50%; /*ставлю в центр по горизонталі*/
    transform: translate(-50%, -50%); /*роблю поправку на розмір самої картинки. якби воно ще якось само вирівнювалось по центру*/
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.main-image:hover {
    top: 15%;
    left: 35%;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.text-block {
    width: 815px;
    margin: 30px 0 0 30px;
    font-size: 18px;
    line-height: 150%; /*ставлю міжрядковий інтервал*/
}
.bottom-navbar {
    display: inline-block;
    width: 1280px;
    margin-top: 50px;
    padding: 22px 0 22px 0;
    text-indent: 44px;
    background-color: #b4b7ba;
    }
.bottom-navbar-link {
    text-decoration: none;
    color: #0c1927;
    font-size: 28px;
    margin-right: 20px;
}
.bottom-navbar-link:hover {
    color: #3181a6;
    text-decoration: underline;
}
.copyright {
    color: #010101;
    font-size: 24px;
    padding-left: 120px;
     /*тут також краще вирівняти по правому краю*/
}