@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

table {
    border-collapse: collapse;
    color: #0C213B;
    font-family: "Arimo", "﻿Courier", sans-serif;
    border: 22px solid #3a4965;
}
th, td {
    width: 278px;
    height: 69px;
}
th {
    background-color: #fafafa;
}
td {
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    color: #848484;
    text-transform: uppercase;
}
.title {
    width: 310px;
    color: #484848;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 40px;
    box-sizing: border-box;
    vertical-align: middle;
}
.title>span:nth-child(2) {
    font-size: 30px;
}
.second-line {
    height: 86px;
}
thead>tr:first-child {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
thead>tr:nth-child(1)>th:nth-child(2) {
    background-color: #89c331;
    vertical-align: middle;
}
thead>tr:nth-child(1)>th:nth-child(3) {
    background-color: #f04a56;
    vertical-align: middle;
    font-size: 30px;
}
thead>tr:nth-child(1)>th:nth-child(4) {
    background-color: #20807c;
    vertical-align: middle;
}
.second-line {
    font-size: 60px;
    font-weight: bold;
    vertical-align: middle;
    color: #484848;
}
.second-line>sup {
    vertical-align: super;
    font-size: 24px;
}
.second-line>sup:after {
    content: "Per Month";
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    vertical-align: -120%;
    margin-left: -30px;
}

.footer {
    background-color: #fafafa;
}
.footer>td:nth-child(1) {
    background-color: #e3e3e3;
}
a {
    text-decoration: none;
    color: #ffffff;
    width: 192px;
    height: 49px;
    border-radius: 5px;
    display: inline-block;
}
a>span {
    vertical-align: -19px;
}
.grey-button{
    background: linear-gradient(#484848 40px, #404040 40px);
}
.green-button {
    background: linear-gradient(#89c331 40px, #79b027 40px);
}
.rose-button {
    background: linear-gradient(#f04a56 40px, #df3a46 40px);
}
.greenblue-button {
    background: linear-gradient(#20807c 40px, #16736f 40px);
}
tbody>tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tbody>tr:nth-child(even) {
    background-color: #e3e3e3;
}
tr>td:nth-child(1n+1), tr>th:nth-child(1n+1) {
    background: linear-gradient(to right, rgba(0,0,0,0.1),rgba(0,0,0,0) 4px, rgba(0,0,0,0));
}

/*sprites*/
tbody>tr>td:first-child>p {
    vertical-align: middle;
    display: inline-block;
}
.box:before {
    content: "";
    display: inline-block;
    background: url(../img/sprites5.png) no-repeat;
    background-position: -20px -169px;
    width: 23px;
    height: 21px;
    padding-right: 12px;
    vertical-align: bottom;
}
.cloud:before {
    content: "";
    display: inline-block;
    background: url(../img/sprites5.png) no-repeat;
    background-position: -20px -0px;
    width: 26px;
    height: 19px;
    padding-right: 12px;
    vertical-align: bottom;
}
.email:before {
    content: "";
    display: inline-block;
    background: url(../img/sprites5.png) no-repeat;
    background-position: -20px -84px;
    width: 24px;
    height: 20px;
    padding-right: 12px;
    vertical-align: bottom;
}
.support:before {
    content: "";
    display: inline-block;
    background: url(../img/sprites5.png) no-repeat;
    background-position: -20px -124px;
    width: 24px;
    height: 25px;
    padding-right: 12px;
    vertical-align: bottom;
}
.products:before {
    content: "";
    display: inline-block;
    background: url(../img/sprites5.png) no-repeat;
    background-position: -20px -210px;
    width: 23px;
    height: 23px;
    padding-right: 12px;
    vertical-align: bottom;
}
.users:before {
    content: "";
    display: inline-block;
    background: url(../img/sprites5.png) no-repeat;
    background-position: -20px -39px;
    width: 26px;
    height: 25px;
    padding-right: 12px;
    vertical-align: bottom;
}
.table {
    filter: invert(88%);
}