.in-red{
    border: 2px solid darkred;
}
.in-green {
    border: 2px solid darkgreen;
}
p {
    position: fixed;
    top: 77px;
    left: 10px;
    color: orangered;
}
.input-box {
    position: fixed;
    top: 30px;
    width: 300px;
    background-color: lightcyan;
    padding: 10px;
    box-sizing: border-box;
}
.top-span {
    color: darkblue;
}
.close{
    margin-left: 10px;
   width: 15px;
}
.input-green {
    color: green;
}